<!DOCTYPE html>

<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />


    <link rel="stylesheet" href="style.css" />

    <script defer src="main.js"></script>
  </head>
  <body id="body">
    <header class="myheader">
      <h1> Wellcome
    </h1>

      <nav>
        <ul class="parent">
          <li>
            <a href="/home">
             Home
            </a>
          </li>
          <li><a href="/newProduits"> Add new Produits </a></li>
          <li id="dark" class="mode">change mode</li>
          
        </ul>
      </nav>
    </header>

    <div id="mydiv"></div>

    <main id="main">
      <section >
        <h1>
          Produits &#128073
        </h1>
        <div class="article-parents">
        <article>
          <h2>
            BackendFormation

          </h2>
          <p>
            testing the Produit page with the BackendFormation
            <a class="btn" href="/dd">
              Show more ...
            </a>
          </p>
        </article>
        <article>
          <h2>
            BackendFormation

          </h2>
          <p>
            testing the Produit page with the BackendFormation
            <a class="btn" href="/dd">
              Show more ...
            </a>
          </p>
        </article>
      </div>
      </section>
    </main>

    <footer>
     

      <p class="design">Designed and developed by Ali Hassan © 2020</p>
    </footer>
  </body>
</html>
