<!DOCTYPE html>

<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link rel="stylesheet" href="style.css" />

    <script defer src="main.js"></script>
  </head>
  <body id="body">
    <header class="myheader">
      <h1><a style="all: unset" href="/"> Home </a></h1>
      <nav>
        <ul class="parent">
          <li>
            <a href="/home"> Home </a>
          </li>
          <li><a href="/newProduits"> Aaadd new Produits </a></li>
          <li id="dark" class="mode">change mode</li>
        </ul>
      </nav>
    </header>

    <div id="mydiv"></div>

    <main id="main"></main>
    <section class="parentsForm">
      <h1>add new produits</h1>
      <form>
        <label for="pass">name of Produit </label>
        <input id="pass" type="text" />

        <label for="Summary">Summary of Produit </label>
        <input id="Summary" type="text" />

        <label for="Summary">Prix de Produit </label>
        <input id="Summary" type="text" />

        <label for="Summary">Total de Produit </label>
        <input id="Summary" type="text" />

        <label for="body">Body of Produit </label>
        <textarea id="body"></textarea>
        <button class="create">Create</button>
      </form>
    </section>
    <footer>
      <p class="design">Designed and developed by aissam</p>
    </footer>
  </body>
</html>
