<!DOCTYPE html>

<html lang="en">
  <%- include("./partials/head") %>
  <body id="body">
    <%- include("./partials/header") %>

    <div id="mydiv"></div>

    <main id="main"></main>
    <section class="parentsForm">
      <h1>add new produits</h1>
      <form method="post" action="/home">
        <label for="number1">add number 1</label>
        <input id="number1" type="text" name="number1" />

        <label for="number2">add number 2</label>
        <input id="number2" type="text" name="number2" />
        <!-- 
        <label for="prix">Prix de Produit </label>
        <input id="prix" type="text" name="prix" />

        <label for="total">Total de Produit </label>
        <input id="total" type="text" name="total" />

        <label for="body">Body of Produit </label>
        <textarea id="body" name="body"></textarea> -->

        <button class="create">Create</button>
      </form>
    </section>
    <%- include("./partials/footer") %>
  </body>
</html>
